{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    [
      "import",
      [
        {
          "libraryName": "components",
          "style": false,
          "libraryDirectory": ""
        }
      ]
    ]
  ]
}