html,body,ul,p,h1,h2,h3,h4{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:focus{
    //去掉在ff下的虚线框
    outline:0;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
body{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input:focus{
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}