<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="/static/js/dll/common.js?915320f0f7cf86632725"></script></body>
</html>