<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/img/base/favicon_licai.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/mint-ui.css">
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
<script src="/ga.js" async></script>

</html>